
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stream Yolov5</title>
     <img src="{{ image }}" />
</head>
<body>
     <video id="video" autoplay></video>
    <script>
        var video = document.getElementById('video');
        var source = new EventSource('/detect_objects/');
        source.onmessage = function(event) {
            video.src = URL.createObjectURL(event.data);
        }
    </script>
   
</body>
</html>
